.reveal {
    font-size: 0.9em;
    /* slightly smaller than default, but readable */
}

.reveal h1 {
    font-size: 1.7em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal h3 {
    font-size: 1.15em;
}

/* Slightly tighten line spacing for bullets */
.reveal ul,
.reveal ol {
    line-height: 1.25;
}