# Ignore data files
data/*.csv
data/*.parquet
data/*.rds
.RData
.Rhistory
.DS_Store
data/
processed/mixed_effects_model_bayes.rds
processed/receiver_rankings_bayes.csv
processed/markov_lift_rankings_bayes.csv
processed/mixed_effects_model.rds
processed/receiver_rankings.csv
processed/mixed_effects_metrics.csv
processed/markov_lift_rankings.csv
processed/markov_lift_bayes_model.rds
processed/markov_lift_model.rds
processed/markov_lift_metrics.csv
processed/markov_lift_model.rds
processed/mixed_effects_model_bayes.rds
processed/play_features_w*.rds
src/figures
figures/
processed/
figures/*.png
processed/*.rds
processed/*.csv
report/*.html
report/*_files/